@import "./global/header.css";
@import "./global/global.css";
@import "./global/footer.css";

/* UTILIDADES */
@import "./utilidades/componentes.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/paletacores.css";

/* HOME */
@import "./home/introducao.css";
@import "./home/vantagens.css";
@import "./home/publicacoes.css";

/* SOBRE */
@import "./sobre/sobre.css";

/*
Desenvolvido por Yasmin Lopes
github.com/yasminlopes
Projeto Integrador 02 - ADS Unimar
*/
