.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.link {
  display: inline-block;
  color: #ffffff;
  font: 700 1.5rem/1.5 "Raleway", sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #e31111;
}
.link:hover {
  color: var(--cor-2);
}
.botao {
  padding: 16px 32px;
  background: linear-gradient(#e31111, #5a0909);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.125rem;
  line-height: 1.33;
}
.botao:hover {
  background: linear-gradient(#b00909, #310404);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
