.texto-grande {
  font-size: 4rem;
  line-height: 1.125;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.texto-medio {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}

.texto-h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.5;
}
