.login {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.login-target,
.login-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-target {
  border-radius: 5px 0 0 5px;
  background: var(--cor-1);
}

.login-form {
  border-radius: 0 5px 5px 0;
  background: var(--cor-1);
}

.login h2 {
  text-transform: uppercase;
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;
}

.login h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 8px;
  background-color: var(--cor-3);
  position: absolute;
  left: -12px;
}
.login img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.login a:hover {
  color: var(--cor-3);
}

.botao-cadastro {
  padding: 16px 32px;
  background: rgb(194, 10, 10);
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.33;
  border: none;
  cursor: pointer;
}
.botao-cadastro:hover {
  background: var(--cor-4);
  color: var(--cor-2);
}

@media (max-width: 800px) {
  .login {
    grid-template-columns: 1fr;
  }
  .login-target,
  .login-form {
    padding: 20px;
  }
  .login-target {
    border-radius: 5px 5px 0 0;
  }
  .login-form {
    border-radius: 0 0 5px 5px;
  }
  .login-target h2 {
    margin-bottom: 32px;
  }
  .login-imagem {
    display: none;
  }
}
