.sobre-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}
.sobre-lista h2 {
  margin-bottom: 40px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
.sobre-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  text-align: center;
}
.sobre-lista h3::before {
  content: "";
  display: inline-block;
  background-color: #e31111;
  height: 8px;
  width: 12px;
  margin-right: 8px;
}
.sobre-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.sobre-lista img {
  margin-bottom: 16px;
}
