.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-form {
  padding: 60px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  border-radius: 5px 0 0 5px;
  background: var(--cor-4);
}

.contato-form {
  border-radius: 0 5px 5px 0;
  background: var(--cor-1);
}

.contato-dados h2 {
  margin-bottom: 60px;
}

.contato-endereco {
  margin-bottom: 32px;
  padding-left: 28px;
}

.contato-endereco p {
  margin-bottom: 8px;
}

.contato-meios a {
  display: block;
  max-width: max-content;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contato-meios a:hover {
  color: var(--cor-3);
}

.contato-redes {
  display: flex;
  gap: 32px;
  padding-left: 28px;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }
  .contato-dados,
  .contato-form {
    padding: 20px;
  }
  .contato-dados {
    border-radius: 5px 5px 0 0;
  }
  .contato-form {
    border-radius: 0 0 5px 5px;
  }
  .contato-dados h2 {
    margin-bottom: 32px;
  }
  .contato-redes {
    margin-bottom: 12px;
  }
}
