:root {
  --cor-0: #ffffff;
  --cor-1: #000000;
  --cor-2: #111111;
  --cor-4: #b2b2b2;
  --cor-4: #e31111;
}
body {
  margin: 0px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 600px;
}

h1,
ul,
p {
  margin: 0px;
}
ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}
