:root {
  --cor-1: #ffffff;
  --cor-2: #b2b2b2;
  --cor-3: #e31111;
  --cor-4: #000000;
  --cor-5: #111111;
}
/** MAIN INTRODUCAO */
.introducao-bg {
  background: black;
  box-shadow: inset 0 -20px #fff;
}
.introducao {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 0px 40px;
}
.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}
.introducao img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.introducao h1 {
  margin-bottom: 32px;
}
.introducao h1 span {
  color: var(--cor-3);
}
.introducao p {
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .introducao h1 {
    font-size: 48px;
  }
  .introducao p {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #fff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao h1 {
    font-size: 32px;
    margin-bottom: 16px;
  }
  introducao img {
    height: 300px;
    width: 100%;
  }
}

/** END!! MAIN INTRODUCAO */
