.vantagens-bg {
  background-color: var(--cor-4);
}

.vantagens {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.vantagens-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.vantagens-conteudo {
  padding-top: 160px;
  padding-bottom: 160px;
}

.vantagens-conteudo > span {
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
}

.vantagens-conteudo h2 {
  margin-bottom: 32px;
}
.vantagens-conteudo > p {
  margin-bottom: 20px;
}
.vantagens-conteudo a {
  margin-bottom: 80px;
}

.vantagens-lista {
  display: flex;
  gap: 40px;
}

.vantagens-lista h3 {
  margin-bottom: 8px;
  width: max-content;
}

.vantagens-lista img {
  width: 32px;
}

@media (max-width: 800) {
  .vantagens-bg {
    box-shadow: initial;
  }
  .vantagens {
    grid-template-columns: 1fr;
  }
  .vantagens-conteudo {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .vantagens-imagem {
    display: none;
  }
  .vantagens a {
    margin-bottom: 60px;
  }
}

@media (max-width: 600) {
  .vantagens-lista {
    flex-direction: column;
  }
}
